cat > config/boards/shields/charybdis_nano_right/charybdis_nano_right.keymap << 'EOF'
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&kp SPACE>;
        };
    };
};
EOF
